{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/traverse.css" %}" >

    <title>Traverse exercises</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: Teal;
    color: black;
  }
</style>

    <script>
      // Script tag #2
            // Page load event
      let x = 4;  // global variable

      const RPS_RESULTS = {
        tie : 'tie',
        win : 'win',
        lose : 'lose'
      }

      const RPS = {
        rock : 'rock',
        paper : 'paper',
        scissor : 'scissor'
      }

      document.addEventListener("DOMContentLoaded", () => {

        document.body.classList.toggle('dark-mode');

        console.log("Stay classy, planet Earth.")

        let pixel_1 = document.querySelector("#cap_pixel_1");
        pixel_1.classList.add('green_pixel');

        let pict_1 = document.querySelector('#picture_1');
        spot_1 = pict_1.querySelectorAll('.spot_1');
        for (pic of spot_1){
          pic.classList.add('white_pixel')
        }

        start_5 = document.querySelector('#start_5');
        start_5.parentElement.classList.add('green_pixel')

        start_6 = document.querySelector('#start_6')
        spot_2 = start_6.querySelectorAll('.spot_2')
        for (pix of spot_2){
          pix.classList.add('white_pixel')
        }

        head = start_6.nextElementSibling.querySelectorAll('.head')
        for (pix of head){
          pix.classList.add('black_pixel')
        }

        start_7 = document.querySelector('#start_7')
        for (pixel of start_7.children){
          face = pixel.querySelectorAll('.face')
            for (pix of face){
            pix.classList.add('white_pixel')
          }
        }
        
        cap_color = start_7.previousElementSibling.children
        for (pixel of cap_color){
          cap=pixel.querySelectorAll('.cap_color')
            for (pix of cap){
            pix.classList.add('green_pixel')
          }
        }

        eyes = pict_1.querySelector('#start_7').children
        for (pixel of eyes){
          eye_pix = pixel.querySelectorAll('.eyes')
          for (pix of eye_pix){
            pix.classList.add('black_pixel')
          }
        }

        spot_3 = start_5.closest('#picture_1').querySelector('#start_6').children
        for (pixel of spot_3){
          spot_3_pix = pixel.querySelectorAll('.spot_3')
          for (pix of spot_3_pix){
            pix.classList.add('white_pixel')
          }
        }

        cap = start_5.closest('#picture_1').querySelector('#start_6').children
        for (pixel of cap){
          cap_pix = pixel.querySelectorAll('.cap')
          for (pix of cap_pix){
            pix.classList.add('black_pixel')
          }
        }

        reveal_1 = document.querySelector('#reveal_1')
        left_antenna = reveal_1.querySelectorAll('.left_antenna')
        for (pixel of left_antenna){
          pixel.classList.add('white_pixel')
        }

        reveal_2 = document.querySelector('#reveal_2')
        right_antenna = reveal_2.parentElement.querySelectorAll('.right_antenna')
        for (pixel of right_antenna){
          pixel.classList.add('white_pixel')
        }

        reveal_3 = document.querySelector('#reveal_3')
        upper_left = reveal_3.closest('.reveal_section').children
        for (pixel of upper_left){
          body = pixel.querySelectorAll('.upper_left_body')
          for (pix of body){
            pix.classList.add('white_pixel')
          }
        }

        reveal_4 = document.querySelector('#reveal_4')
        upper_right = reveal_4.closest('#reveal_1').nextElementSibling.children
        for (pixel of upper_right){
          body = pixel.querySelectorAll('.upper_right_body')
          for (pix of body){
            pix.classList.add('white_pixel')
          }
        }

        reveal_5 = document.querySelector('#reveal_5')
        lower_left = reveal_5.parentElement.querySelectorAll('.lower_left_body')
        for (pixel of lower_left){
          pixel.classList.add('white_pixel')
        }

        reveal_6 = document.querySelector('#reveal_6')
        lower_right = reveal_6.parentElement.querySelectorAll('.lower_right_body')
        for (pixel of lower_right){
          pixel.classList.add('white_pixel')
        }

        reveal_7 = document.querySelector('#reveal_7')
        left_leg = reveal_7.closest('#picture_2').querySelectorAll('.left_leg')
        for (pixel of left_leg){
          pixel.classList.add('white_pixel')
        }

        reveal_8 = document.querySelector('#reveal_8')
        right_leg = reveal_8.querySelector('.right_leg')
        right_leg.classList.add('white_pixel')
        right_leg = reveal_8.previousElementSibling.querySelector('.right_leg')
        right_leg.classList.add('white_pixel')

        reveal_9 = document.querySelector('#reveal_9')
        left_hand = reveal_9.parentElement.querySelectorAll('.left_hand')
        for (pixel of left_hand){
          pixel.classList.add('white_pixel')
        }

        reveal_10 = document.querySelector('#reveal_10')
        right_hand = reveal_10.closest('.reveal_section').nextElementSibling.querySelectorAll('.right_hand') 
        for (pixel of right_hand){
          pixel.classList.add('white_pixel')
        }

        showMessage("stephanie", "joseph");

        happyBirthday("arlene");
        happyBirthday("nolan");

        addition(2, 4);
        addition(10, 5, 6);

        let result = multiplication(2, 4);
        console.log(result + ' result');
        result = multiplication(10, 5);
        console.log(result + ' result');
        result = multiplication(1, -6);
        console.log(result + ' result');

        result = subtraction(6, 2);
        console.log("Difference: " + result);
        result = subtraction(10, 7);
        console.log("Difference: " + result);

        let temperature = convertToCelsius(50);
        console.log("Temperature in celsius: " + temperature);
        temperature = convertToCelsius(95);
        console.log("Temperature in celsius: " + temperature);

        let average = computeAverage([5, 10, 15]);
        console.log("Average: " + average);
        average = computeAverage([9, 5, 75, 42, 9]);
        console.log("Average: " + average);

        // select button element
        let element = document.querySelector("#my_btn");

        // attach click event to myFunction()
        element.addEventListener("click", myFourthFunction);

        let headline = document.querySelector("#my_h1");
        let blue_btn = document.querySelector('#blue_btn');
        blue_btn.addEventListener("click", () => {
          console.log('turn blue!')
          headline.style.color = "blue"
        });

        let headline_btn = document.querySelector('#headline_btn');
        
        headline_btn.addEventListener('click', () => {
          let headline_txt = document.getElementById('headline_text').value;
          console.log('change headline!');
          {% comment %} headline is variable declared in blue_btn function {% endcomment %}
          headline.textContent = headline_txt
        })

        let sum_btn = document.querySelector('#sum_btn');
        sum_btn.addEventListener('click', () => {
          number_1 = document.getElementById('number_1').value;
          number_2 = document.getElementById('number_2').value;
          console.log('sum the headline!');
          {% comment %} headline is variable declared in blue_btn function {% endcomment %}
          headline.textContent = Number(number_1) + Number(number_2);
        })

        let color_btn = document.querySelector('#color_btn');
        color_btn.addEventListener("click", () => {
          console.log('change headline color again!')
          headline_color = document.getElementById('headline_color').value;
          {% comment %} headline is variable declared in blue_btn function {% endcomment %}
          headline.style.color = headline_color;
        });

        let product_btn = document.querySelector('#product_btn');
        let headline2 = document.querySelector('#my_h2');
        product_btn.addEventListener('click', () => {
          factor_1 = document.getElementById('factor_1').value;
          factor_2 = document.getElementById('factor_2').value;
          console.log('multiply the other headline!');
          if (isNaN(factor_1) || isNaN(factor_2) || factor_1=='' || factor_2 == ''){
            console.log('false condition')
            headline2.textContent ='Error: Both textboxes must have a numeric value!'
          } else{
            console.log('true condition')
            headline2.textContent = 'Product: ' + (Number(factor_1) * Number(factor_2));
          }         
        })

        let mouse_color = document.querySelector('#mouse_color');
        let mouse_headline = document.querySelector('#my_h3');
        mouse_color.addEventListener("mouseover", function( event ) {
          badge_color = event.target.innerText;
          mouse_headline.style.color = badge_color;
      });

        console.log(x);

      
        addOne();
        console.log(x);
  
        
        printNum();
        console.log(y);

        let counter_btn = document.getElementById('counter_btn');
        let counter_value = 0;
        let counter = document.getElementById('counter');
        counter_btn.addEventListener('click', () =>{
          console.log('counter + 1');
          counter_value += 1;
          counter.textContent = counter_value;
        });


        let rps_btn = document.getElementById('rps_btn');
        let rps_result = document.getElementById('rps_result');
        rps_btn.addEventListener('click', () => {
          player_rps = document.getElementById('player_rps').value;
          result = playRPS(player_rps);
          console.log(result)
          if (result == RPS_RESULTS.tie){
            rps_result.textContent = 'Result: Tie! Computer played ' + comp_rps;
          } else if(result == RPS_RESULTS.win){
            rps_result.textContent = 'Result: You Win! Computer played ' + comp_rps;
          } else if (result == RPS_RESULTS.lose){
            rps_result.textContent = 'Result: You Lose! Computer played ' + comp_rps;
          } else {
            rps_result.textContent = 'Error, please enter rock, paper, or scissor';
          }
          
          //unfactored code
          {% comment %} //comp_rps = RPS_array[Math.floor(Math.random() * RPS_array.length)];
          console.log(RPS_array);          
          console.log(comp_rps);
          player_rps = document.getElementById('player_rps').value;
          console.log(player_rps);
          if (comp_rps == player_rps){
            rps_result.textContent = 'Result: Tie! Computer played ' + comp_rps;
          } else if((comp_rps == RPS.rock && player_rps == RPS.paper) || (comp_rps == RPS.scissor && player_rps == RPS.rock) || (comp_rps == RPS.paper && player_rps == RPS.scissor)){
            rps_result.textContent = 'Result: You Win! Computer played ' + comp_rps;
          } else if ((comp_rps == RPS.rock && player_rps == RPS.scissor) || (comp_rps == RPS.scissor && player_rps == RPS.paper) || (comp_rps == RPS.paper && player_rps == RPS.rock)){
            rps_result.textContent = 'Result: You Lose! Computer played ' + comp_rps;
          } else {
            rps_result.textContent = 'Error, please enter rock, paper, or scissor';
          } {% endcomment %}
        });
        
        let progress_btn = document.getElementById('progress_btn');
        let progress_bar = document.getElementById('progress_bar');
        let xp_gain = document.getElementById('xp_gain');
        let progress_lvl = document.getElementById('progress_lvl');
        let xp_display = document.getElementById('current_xp');
        let current_xp = 0;
        let current_lvl = 1;
        progress_btn.addEventListener('click', () => {
          let min = Math.ceil(25);
          let max = Math.floor(35);
          let xp_points = Math.floor(Math.random() * (max - min + 1)) + min;
          console.log(xp_points);
          current_xp += xp_points;
          if (current_xp < 100){
            xp_gain.innerHTML = '+' + xp_points + ' xp' + (xp_points >= 30 ? ' Great Job!' : '');
            } else {
            current_lvl += 1;
            console.log('current level: ' + current_lvl);
            current_xp = 0;
            progress_lvl.innerHTML = '<em>Level ' + current_lvl + '</em>';
            xp_gain.innerHTML = '+' + xp_points + ' xp Level up!'
          }
          progress_bar.style['width'] = current_xp + '%'
          xp_display.innerHTML = current_xp + '% Complete'
          console.log('current xp: ' + current_xp);
        });

        let win_counter = document.getElementById('win_counter');
        let lose_counter = document.getElementById('lose_counter');
        let tie_counter = document.getElementById('tie_counter');
        let win_score = 0;
        let lose_score = 0;
        let tie_score = 0;
        document.addEventListener('click', function (event) {
          if ( event.target.classList.contains( 'rps-function' ) ) {
            player_rps = event.target.innerHTML
            result = playRPS(player_rps);
            if (result == RPS_RESULTS.tie){
              rpsv2_result.textContent = 'Result: Tie! Computer played ' + comp_rps;
              tie_score += 1;
              tie_counter.innerHTML = '<em>Ties: </em>' + tie_score;
            } else if(result == RPS_RESULTS.win){
              rpsv2_result.textContent = 'Result: You Win! Computer played ' + comp_rps;
              win_score += 1;
              win_counter.innerHTML = '<em>Wins: </em>' + win_score;
            } else if (result == RPS_RESULTS.lose){
              rpsv2_result.textContent = 'Result: You Lose! Computer played ' + comp_rps;
              lose_score += 1;
              lose_counter.innerHTML = '<em>Losses: </em>' + lose_score;
            } 
            //unrefactored code
            {% comment %} console.log('player plays ' + player_rps)
            rps_array = Object.keys(RPS);
            //comp_rps = rps_array[Math.floor(Math.random() * rps_array.length)]
            console.log('computer plays ' + comp_rps)
            if (comp_rps == player_rps){
              rpsv2_result.textContent = 'Result: Tie! Computer played ' + comp_rps;
              tie_score += 1;
              tie_counter.innerHTML = '<em>Ties: </em>' + tie_score;
            } else if((comp_rps == 'rock' && player_rps == 'paper') || (comp_rps == 'scissor' && player_rps == 'rock') || (comp_rps == 'paper' && player_rps == 'scissor')){
              rpsv2_result.textContent = 'Result: You Win! Computer played ' + comp_rps;
              win_score += 1;
              win_counter.innerHTML = '<em>Wins: </em>' + win_score;
            } else if ((comp_rps == 'rock' && player_rps == 'scissor') || (comp_rps == 'scissor' && player_rps == 'paper') || (comp_rps == 'paper' && player_rps == 'rock')){
              rpsv2_result.textContent = 'Result: You Lose! Computer played ' + comp_rps;
              lose_score += 1;
              lose_counter.innerHTML = '<em>Losses: </em>' + lose_score;
            } {% endcomment %}
          }
      }, false);

      call_var = callVariable();
      console.log(call_V);

      });

      function callVariable(){
        call_V = 'This is getting called from inisde the function!';
        return call_V;
      }

      function playRPS(player) {
        RPS_array = Object.keys(RPS);
        console.log(RPS_array);
        //randomly generates rock, paper, or scissor
        comp_rps = RPS_array[Math.floor(Math.random() * RPS_array.length)];
        console.log(comp_rps);
        console.log(player_rps);
        if (comp_rps == player){
          return RPS_RESULTS.tie;
        } else if((comp_rps == RPS.rock && player == RPS.paper) || (comp_rps == RPS.scissor && player == RPS.rock) || (comp_rps == RPS.paper && player == RPS.scissor)){
          return RPS_RESULTS.win;
        } else if ((comp_rps == RPS.rock && player == RPS.scissor) || (comp_rps == RPS.scissor && player == RPS.paper) || (comp_rps == RPS.paper && player == RPS.rock)){
          return RPS_RESULTS.lose;
        }
      }

      function addOne() {
          x += 1;
      }

      let y = '';
      function printNum() {
        y = 5;  // local variable
      }

      function showMessage(customer, greeter) {
        console.log("hello " + customer + "!");
        console.log("I'm " + greeter + ". How are you?");
      }

      function happyBirthday(name) {
        console.log('happy birthday to you!');
        console.log('happy birthday dear ' + name + '!')
      }

      function addition() {
        var sum = 0;
        for (var i = 0; i < arguments.length; i++) {
          sum += arguments[i];
        }
        var numbers = "";
        for (var i=0; i < arguments.length; i++) {
          if (i < arguments.length-1){
            comma = ',';
          } else{
            comma = '';
          }
          numbers += arguments[i] + comma ;
        }
        console.log('sum of ' + numbers + ' is ' + sum);
      }

      function multiplication() {
        var product = 1;
        for (var i = 0; i < arguments.length; i++) {
          product *= arguments[i];
        }
        var numbers = "";
        for (var i=0; i < arguments.length; i++) {
          if (i < arguments.length-1){
            comma = ',';
          } else{
            comma = '';
          }
          numbers += arguments[i] + comma ;
        }
        
        var check = true;
        for (var i = 0; i < arguments.length; i++) {
          if (arguments[i] < 0){
            check = false;
            break;
          }
          }

        if (check == true) {
          console.log('product of ' + numbers + ' is ' + product);
        } else {
          console.log('Error: Both numbers must be positive integers!');
        }

        return (numbers + ' ' + product)
      }

      function subtraction(){
        var difference = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
          difference -= arguments[i];
        }
        var numbers = "";
        for (var i=0; i < arguments.length; i++) {
          if (i < arguments.length-1){
            comma = ',';
          } else{
            comma = '';
          }
          numbers += arguments[i] + comma ;
        }
        
        return (numbers + '=' + difference)
      }

      function convertToCelsius(fahrenheit) {
        celsius = (fahrenheit-32)*(5/9)

        return(celsius)
      }

      function computeAverage(numbers){
        var sum = 0;
        for (var i = 0; i < numbers.length; i++) {
          sum += numbers[i];
        }
        var mean = sum/numbers.length
        {% comment %} below code not being used. function for outputing number sets {% endcomment %}
        var set = "";
        for (var i=0; i < numbers.length; i++) {
          if (i < numbers.length-1){
            comma = ',';
          } else{
            comma = '';
          }
          set += numbers[i] + comma ;
        }

        return(mean)
      }

      function myFunction() {
        alert ("Hello World!");
      }

      function mySecondFunction() {
        console.log ("Hello World.");
        console.log ("Changed event handler success!");
      }

      function myThirdFunction() {
        console.log("Third event handler success!");
        let my_h1 = document.querySelector('#my_h1');
        my_h1.style.backgroundColor = "red"
      }

      function myFourthFunction() {
        console.log(document.getElementById('my_text').value);
      }


    </script>
  </head>

  <body>

<!-- Our HTML --> 
<h1 id="my_h1">Event exercises!</h1>
<button id="blue_btn" type="button" class="btn btn-primary">Turn Blue</button>
<br>
<input type="text" id="headline_text" >
<button id="headline_btn" type="button" class="btn btn-primary">Change headline</button>
<br>
<input type="text" id="my_text" >
<button id="my_btn" type="button" class="btn btn-primary">console me!</button>
<br>
<input type="text" id="number_1" >
<input type="text" id="number_2" >
<button id="sum_btn" type="button" class="btn btn-primary">Math me!</button>
<br>
<input type="text" id="headline_color" >
<button id="color_btn" type="button" class="btn btn-primary">Change headline color</button>
<br>
<h3 id='my_h2'>Product: </h3>
<input type="text" id="factor_1" >
<input type="text" id="factor_2" >
<button id="product_btn" type="button" class="btn btn-primary">Multiply!</button>
<br>
<h3 id='my_h3'>Mouseover Color Changer</h3>
<div id='mouse_color'>
<span class="badge">green</span> <span class="badge">red</span> <span class="badge">yellow</span> <span class="badge">chartreuse</span>
</div>
<h3>Counter: <span id='counter'>0</span></h3>
<button id="counter_btn" type="button" class="btn btn-primary">Add One</button>

<h3>Rock, Paper, Scissor v1</h3>
<h4 id='rps_result'>Enter rock, paper, or scissor</h4>
<input type="text" id="player_rps" ><button id="rps_btn" type="button" class="btn btn-primary">Play!</button>

<div class="container">
  <h2>Click Game</h2>
    <h4 style= "display:inline-block" id = 'progress_lvl'><em>Level 1</em></h4>
    <h4 style="float: right; display:inline-block" id = 'xp_gain'></h4>
<br>
  <div class="progress">
    <div id='progress_bar' class="progress-bar" style="width:0%">
      <span id= 'current_xp'>30% Complete</span>
    </div>
  </div>
  <button id="progress_btn" type="button" class="btn btn-primary">Play!</button>
</div>
<br>
<h2>Rock, Paper, Scissor v2</h2>
<h4 id='rpsv2_result'>Click rock, paper, or scissor</h4>
<h4 style= "display:inline-block" id = 'win_counter'><em>Wins: </em>0</h4>
<h4 style= "display:inline-block" id = 'lose_counter'><em>Losses: </em>0</h4>
<h4 style= "display:inline-block" id = 'tie_counter'><em>Ties: </em>0</h4>
<br>
<button id="rock_btn" type="button" class="btn btn-primary ; rps-function">rock</button>
<button id="paper_btn" type="button" class="btn btn-primary ; rps-function" style='background-color:green'>paper</button>
<button id="scissor_btn" type="button" class="btn btn-primary ; rps-function" style='background-color:grey'>scissor</button>

    <div class="container">

      <div class="starter-template">
        <h1>Traverse exercise</h1>
          <div class="row">
            <div class="col-md-6">
              <h3>Picture #1</h3>
              <div id="picture_1" >
                <div id="start_6" class="section_1">

                  <!-- Row 1 -->
                  <div class="row_1">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel " ></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 2 -->
                  <div class="row_2">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap" ></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 3 -->
                  <div class="row_3">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color" ></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 4 -->
                  <div class="row_4">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_1"></div>
                    <div class="pixel spot_1" ></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 5 -->
                  <div class="row_5">
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel spot_2"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_1"></div>
                    <div class="pixel spot_1" ></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 6 -->
                  <div class="row_6">
                    <div class="pixel "></div>
                    <div class="pixel cap"></div>
                    <div class="pixel spot_2"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color" ></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_3"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 7 -->
                  <div class="row_7">
                    <div class="pixel "></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap" ></div>
                    <div class="pixel cap"></div>
                    <div class="pixel cap_color"></div>
                    <div class="pixel spot_3"></div>
                    <div class="pixel cap"></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <div id="start_7" class="section_2">
                  <!-- Row 8 -->
                  <div class="row_8">
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div id="cap_pixel_1" class="pixel"></div>
                    <div class="pixel head"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes" ></div>
                    <div class="pixel face"></div>
                    <div class="pixel head"></div>
                    <div id="cap_pixel_2" class="pixel">
                      <div id="start_5"></div>
                    </div>
                    <div class="pixel head"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 9 -->
                  <div class="row_9">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes"></div>
                    <div class="pixel face"></div>
                    <div class="pixel eyes" ></div>
                    <div class="pixel face"></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 10 -->
                  <div class="row_10">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div class="pixel face"></div>
                    <div class="pixel face"></div>
                    <div class="pixel face"></div>
                    <div class="pixel face" ></div>
                    <div class="pixel face"></div>
                    <div class="pixel head"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 11 -->
                  <div class="row_11">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel head"></div>
                    <div class="pixel head" ></div>
                    <div class="pixel head"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>

                  <!-- Row 12 -->
                  <div class="row_12">
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel" ></div>
                    <div class="pixel"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <h3>Picture #2</h3>


              <div id="picture_2" class="out_of_bounds">
                <!-- Row 1 -->
                <div id="reveal_2" class="row_1">
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                </div>
                <div id="reveal_1" class="reveal_section">
                  <!-- Row 2 -->
                  <div class="row_2">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel left_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel right_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 3 -->
                  <div class="row_3">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel left_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel">
                      <div id="reveal_4"></div>
                    </div>
                    <div class="pixel"></div>
                    <div class="pixel right_antenna alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <div class="reveal_section">
                  <!-- Row 4 -->
                  <div id="reveal_5" class="row_4">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel upper_right_body alien"></div>
                    <div class="pixel">
                      <div id="reveal_3"></div>
                    </div>
                    <div id="reveal_10" class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 5 -->
                  <div class="row_5">
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                    <div class="pixel upper_left_body alien"></div>
                    <div class="pixel upper_left_body alien "></div>
                    <div id="left_eye" class="pixel eye "></div>
                    <div class="pixel upper_left_body  alien"></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div id="right_eye" class="pixel eye "></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div class="pixel upper_right_body  alien"></div>
                    <div class="pixel"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 6 -->
                  <div class="row_6">
                    <div class="pixel"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 7 -->
                  <div class="row_7">
                    <div class="pixel"></div>
                    <div class="pixel left_leg  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_left_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel lower_right_body  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel right_leg  alien"></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <div id="reveal_8" class="reveal_section">
                  <!-- Row 8 -->
                  <div id="reveal_9" class="row_8">
                    <div class="pixel"></div>
                    <div class="pixel left_leg  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel left_hand  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel right_hand  alien">
                      <div ></div>
                    </div>
                    <div class="pixel "></div>
                    <div class="pixel right_leg alien"></div>
                    <div class="pixel"></div>
                  </div>
                  <!-- Row 9 -->
                  <div class="row_9">
                    <div class="pixel"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel left_hand  alien"></div>
                    <div class="pixel left_hand  alien"></div>
                    <div class="pixel ">
                      <div>
                        <div id="reveal_7"></div>
                      </div>
                    </div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel right_hand  alien"></div>
                    <div class="pixel right_hand  alien"></div>
                    <div class="pixel "></div>
                    <div class="pixel "></div>
                    <div class="pixel"></div>
                  </div>
                </div>
                <!-- Row 10 -->
                <div id="reveal_6" class="row_10">
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                  <div class="pixel"></div>
                </div>
              </div>
            </div>
          </div>









      </div>

    </div><!-- /.container -->

  </body>
</html>
