{% extends "ask_it/base.html" %}
{% load static %}

{% block body %}

    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Change Password</h1>
          </div>
          <p></p>
        </div>
      </div>
    </div>

              <div class="card">
                <p></p>
                <div class="card-body">
                  <form action= {% url 'ask_it:change_password_form' %} method="post">
                  {% csrf_token %} 
                  <div class="form-group">
                    <label class="form-label mt-4">Current Password</label>
                    <input type="password" class="form-control" name="old_password" id="password" aria-describedby="password">
                  </div>
                  <div class="form-group">
                    <label for="new_password" class="form-label mt-4">New Password</label>
                    <input type="password" class="form-control" name='new_password' id="new_password" aria-describedby="new_password" placeholder="Enter new password">
                  </div>
                  <div class="form-group">
                    <label for="confirm_password" class="form-label mt-4">Confirm Password</label>
                    <input type="password" class="form-control" name='confirm_password' id="confirm_password" placeholder="Confirm password">
                  </div>
                  <p></p>
                  <button type="submit" class="btn btn-primary">Change Password</button>
                  </form>               
                </div>
                <p></p>
                <p></p>
              </div>
  {% endblock %}