{% extends "base_alternate.html" %}
{% load static %}

{% block title %}Password Recovery{% endblock %}

{% block body %}

<p>Hello {{request.user}}</p>

<form action= {% url 'exercises:reset_form' %} method="post">
  {% csrf_token %} 
  <div class="container">
    <label for="password1"><b>New password</b></label>
    <p><input type="password" id='password1' placeholder="Enter Password" name="password1" required></p>

    <label for="password2"><b>Confirm password</b></label>
    <p><input type="password" id='password2' placeholder="Confirm Password" name="password2" required></p>

    <p><button type="submit" class="btn btn-primary" >Change Password</button></p>
  </div>

</form> 

{% endblock%}