<!DOCTYPE html>
<html lang='en'>
<head>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    {% csrf_token %}
    <h1 id="name">Joman</h1>

    <button>Click Me!</button>

<script>
    const csrftoken = Cookies.get('csrftoken');
    console.log(csrftoken)
</script>

</body>

</html>

<script>
// let params = new URLSearchParams();
// params.append('csrfmiddlewaretoken', csrftoken);
// params.append('names', JSON.stringify(["kelvin", "joseph"]));       // attach parameters here

// fetch('https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/name', {
//   method: 'POST',
//   body: params,      // attach params object to request
// })
//   .then(response => response.text())    // read response body and parse as text
//   .then(data => console.log(data));    // your code here

// console.log("Finished!")

let params = new URLSearchParams();
params.append('csrfmiddlewaretoken', csrftoken);
params.append('person', JSON.stringify({'name': 'Sally', 'age': 52}));

async function sallyAge() {
  let url = 'https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/sally';
  let response = await fetch(url, {
method: 'POST',
body: params,      // attach params object to request
});    // fetch data
  let data = await response.json();     // read response body and parse as JSon
  console.log(data);
}

sallyAge()
</script>
