<!DOCTYPE html>
<html lang='en'>
<head>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    {% csrf_token %}
    <h1 id="name">Joman</h1>

<script>
    const csrftoken = Cookies.get('csrftoken');
    console.log(csrftoken)
</script>

</body>

</html>

<!-- let params = new URLSearchParams();
params.append('csrfmiddlewaretoken', csrftoken);
params.append('names', JSON.stringify(["kelvin", "joseph"]));       // attach parameters here

fetch('https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us74.gitpod.io/name', {
  method: 'POST',
  body: params,      // attach params object to request
})
  .then(response => response.text())    // read response body and parse as text
  .then(data => console.log(data));    // your code here

console.log("Finished!") -->