<!DOCTYPE html>
<html lang='en'>
<head>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    {% csrf_token %}
    <h1 id="name">Joman</h1>

    <h2 id="normal_title">Take a normal title...</h2>
    <button id="click_me_btn" onclick="changeTitle()">Click Me!</button>

    <h2>Make a list!</h2>
    <ol id="animal_list">

    </ol>
    <button onclick="makeList()">Make a list!</button>

    <h2>Checkbox</h2>
    <input type="checkbox" id="Ajax_me" onclick="AjaxMe()">
    <label for="Ajax_me">AJAX me</label>

    {{ ajax_check|json_script:'json-ajax-check' }}

<script>
    const csrftoken = Cookies.get('csrftoken');
    console.log(csrftoken)
</script>

</body>

</html>

<script>
  const ajax_check = JSON.parse(document.getElementById('json-ajax-check').textContent);

  document.addEventListener('DOMContentLoaded', () => {

      document.getElementById("Ajax_me").checked = ajax_check;
    
  });
// let params = new URLSearchParams();
// params.append('csrfmiddlewaretoken', csrftoken);
// params.append('names', JSON.stringify(["kelvin", "joseph"]));       // attach parameters here

// fetch('https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/name', {
//   method: 'POST',
//   body: params,      // attach params object to request
// })
//   .then(response => response.text())    // read response body and parse as text
//   .then(data => console.log(data));    // your code here

// console.log("Finished!")

// exercise 1
let params = new URLSearchParams();
params.append('csrfmiddlewaretoken', csrftoken);
params.append('person', JSON.stringify({'name': 'Sally', 'age': 52}));

async function sallyAge() {
  let url = 'https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/sally';
  let response = await fetch(url, {
    method: 'POST',
    body: params,      // attach params object to request
  });    // fetch data
  let data = await response.json();     // read response body and parse as JSon
  console.log(data);
}

sallyAge()

async function changeTitle() {
  let url = 'https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/click_me';
  let response = await fetch(url);    // fetch data
  let data = await response.json();     // read response body and parse as JSon
  const normal_title = document.getElementById("normal_title");
  console.log("click me changed title to: " + data);
  normal_title.innerHTML = data;
}

//exercise 2
async function makeList() {
  let url = 'https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/make_list';
  let response = await fetch(url);    // fetch data
  let data = await response.json();     // read response body and parse as JSon
  const animal_list = document.getElementById("animal_list");
  console.log(data);
  for (let i = 0; i < data.length; i++) {
    animal_list.innerHTML += "<li>" + data[i] + "</li>";
} 
}

//exercise 3
async function AjaxMe() {
  let url = 'https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/ajax_me';
  let response = await fetch(url);    // fetch data
  let data = await response.json();     // read response body and parse as JSon
  console.log(data)
}

//function not in use
async function AjaxCheck() {
  let url = 'https://8000-jomandiec-popcornrobot-s0vjsd3hdnb.ws-us77.gitpod.io/ajax_check';
  let response = await fetch(url);    // fetch data
  let data = await response.json();     // read response body and parse as JSon
  console.log(data)
}


</script>
